<div class="container ProfileTabs">
<div class="tab-content col-md-8">
    <div class="tab-pane active" id="tab_b">
      <table id="mytable" class="table table-bordred table-striped">
        <thead>
        
          <th>Project Name </th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Link </th>
         
          </thead>
        <tbody>
          <tr>
            <td>XYZ Competency System</td>
            <td>02-04-2016</td>
            <td>05-04-2017</td>
            <td>&nbsp;</td>
            
          </tr>
          <tr>
            <td>ABCD Competency System</td>
            <td>02-04-2016</td>
            <td>05-04-2017</td>
            <td>&nbsp;</td>
            
          </tr>
          <tr>
            <td>XYZ Competency System</td>
            <td>02-04-2016</td>
            <td>05-04-2017</td>
            <td>&nbsp;</td>
            
          </tr>
          <tr>
            <td>ABCD Competency System</td>
            <td>02-04-2016</td>
            <td>05-04-2017</td>
            <td>&nbsp;</td>
            
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="tab_b">
      <h4>Pane B</h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
    </div>
    <div class="tab-pane" id="tab_c">
      <h4>Pane C</h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
    </div>
  </div>
</div>
  <!-- tab content --> 

